<div class="container bg-primary text-white rounded p-5 mt-5 shadow">
    <h2 class="mb-4">Entre em contato conosco:</h2>
  
    <div class="contato">
      <p class="fs-5 mb-4">
        <strong>Email:</strong> doefacilContato&#64;gmail.com
      </p>
  
      <p class="fs-5 mb-4">
        <strong>Telefone:</strong> (14) 99166-9125
      </p>
  
      <p class="fs-5 mb-4">
        <strong>WhatsApp:</strong>
        <a href="#" target="_blank" class="text text-decoration-underline"> (14) 99166-9125</a>
      </p>
  
      <p class="fs-5 mb-4">
        <strong>Instagram:</strong>
        <a href="#" target="_blank" class="text text-decoration-underline"> &#64;doefacil</a>
      </p>
    </div>
  </div>
  
  
